{{#if (readonly-prelude choice)}}
  <span class="input-group-addon">
    {{get preludes choice}}
  </span>
{{else}}
  {{#bs-dropdown class="input-group-btn"}}
    {{#bs-dropdown-button}}
      {{get preludes choice}}
      <span class="caret"></span>
    {{/bs-dropdown-button}}
    {{#bs-dropdown-menu}}
      {{#each preludeKeys as |preludeKey|}}
        <li><a href="#" onclick={{action "updatePrelude" preludeKey}}>{{get preludes preludeKey}}</a></li>
      {{/each}}
    {{/bs-dropdown-menu}}
  {{/bs-dropdown}}
{{/if}}
