<h2>
  <button type="button" class="btn btn-default" disabled={{saving}} onclick={{action "cancel"}}>
    <span class="glyphicon glyphicon-chevron-left"></span> Back
  </button>
  Edit your entry
</h2>

{{entries/edit-form needsEmail=false entry=model}}

{{#bs-form-group}}
  <button type="button" class="btn btn-default" disabled={{saving}} onclick={{action "cancel"}}>Cancel</button>
  <button type="submit" class="btn btn-primary" disabled={{saving}} onclick={{perform save}}>Save</button>
  {{#if saving}}<span>Saving&hellip;</span>{{/if}}
{{/bs-form-group}}
