<h1>
  {{postlude}}&hellip;
  {{#link-to "entries.new" tagName="button" class="btn btn-default" type="button"}}
    Add an entry
  {{/link-to}}
  <button type="button" class="btn btn-link" onclick={{action (mut hideSearch) (not hideSearch)}}>
    Search
  </button>
</h1>

{{#bs-collapse collapsed=hideSearch}}
  <div class="input-group">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-search"></span>
    </span>
    {{input type="text" class="form-control" value=query}}
  </div>
{{/bs-collapse}}

{{#each entries as |entry|}}
  <hr>
  {{entry-card entry=entry}}
{{else}}
  <hr>
  <p>
    There are no entries yet. {{#link-to "entries.new"}}How about you add one?{{/link-to}}
  </p>
{{/each}}
