<h1>Add a new entry</h1>

{{entries/edit-form entry=model checkValidity=(action "validateUniqueEmail")}}

{{#bs-form-group}}
  <button type="button" class="btn btn-default" disabled={{saving}} onclick={{action "cancel"}}>Cancel</button>
  <button type="submit" class="btn btn-primary" disabled={{saving}} onclick={{perform save}}>Save</button>
  {{#if saving}}<span>Saving&hellip;</span>{{/if}}
{{/bs-form-group}}
